.pads {
    padding-top: 10px;
}
.pads1 {
    /* padding-top: 10px; */
    padding-bottom: 10px;
}
.padss {
    padding-top: 20px;
}
.num {
    color: black;
}
.pad {
    padding-top: 30px;
}
.padsss {
    padding-bottom: 15px;
}
.padi {
    padding-top: 20px;
    padding-bottom: 10px;
}
.padis {
    padding-top: 10px;
}
.padu {
    padding-top: 25px;
}
.padan {
    padding-bottom: 10px;
}
.med {
    padding-top: 10px;
    padding-bottom: 5px;
}
.meds {
    padding-top: 10px;
    padding-bottom: 10px;
}
.ber {
    padding-bottom: 20px;
}
.ayyo {
    font-size: 10pt;
 }
 .bers {
    padding-bottom: 30px;
}
